@* Skeleton loader for BankCard component *@
<div class="skeleton-bank-card">
    <div class="skeleton-bank-card-header">
        <div class="skeleton skeleton-bank-flag"></div>
        <div class="skeleton skeleton-bank-name"></div>
    </div>
    
    <div class="skeleton-bank-description">
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text"></div>
        <div class="skeleton skeleton-text" style="width: 60%;"></div>
    </div>
    
    <div class="skeleton skeleton-bank-rating"></div>
    <div class="skeleton skeleton-bank-views"></div>
    
    <div class="skeleton skeleton-bank-button"></div>
</div>
